<!--SE VINCULA BOOTSTRAP -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <!-- LISTANDO VISITAS -->
      <h1>VISITAS</h1>
      <table>
        <tr>
          <th>ID:</th>
          <th>FECHA:</th>
        </tr>
        <% @visits.each do |visit| %>
          <tr>
            <td><%= visit.id %></td>
            <td><%= link_to visit.fecha, visit %></td>
            <td><%= link_to "Editar", edit_visit_path(visit) %>
            <%= link_to "Eliminar", visit, method: :delete, data: { confirm: "¿Estás seguro de eliminar este producto?" } %></td>
          </tr>
        <% end %>
        <!--CODIGO DEL BOTON PUBLICAR-->
        <div class="text-right">
          <%= link_to "Publicar Visita", new_visit_path, class: "btn btn-primary" %>
        </div>
        <!--FIN DEL CODIGO DEL BOTON PUBLICAR-->
      </table>
      <!--FIN DEL CODIGO INICIAL-->
    </div>
  </div>
</div>
<!--FIN VINCULACION BOOTSTRAP-->
