<!DOCTYPE html>
<html>
  <head>
    <title>InspectionTi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/79c79b5c2e.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!--Se agrega mensajes flash-->
    <% if flash[:notice] %>
      <div class="alert alert-info"><%= flash[:notice] %></div>
    <% end %>
    <!--Se termina codigo mensajes flash-->

    <!-- Codigo del Menu -->
    <nav class="navbar navbar-expand-md bg-danger navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href='<%=root_path%>'>Inspección TI</a> <!--Implementacion del Logo sin link-->
      <ul class="nav navbar-nav ml-auto"> <!--Implementacion de los items del menu como una lista-->
        <!--Primer item de la lista-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"> <!--Definicion del dropdown-->
            Administracion
          </a>
          <div class="dropdown-menu">
            <h5 class="dropdown-header"><strong>Usuarios:</strong></h5>
            <a class="dropdown-item" href='<%=login_path%>'>Ingresar</a>
            <a class="dropdown-item" href='<%=new_user_path%>'>Registrar Usuario</a>
            <a class="dropdown-item" href='<%=users_path%>'>Listar Usuarios</a>
            <div class="dropdown-divider"></div>
          </div>
        </li> <!--Fin primer item de la lista -->
        <!--Segundo item de la lista-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"> <!--Definicion del dropdown-->
            Inspecciones
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href='<%=new_visit_path%>'>Registrar Inspeccion</a>
            <a class="dropdown-item" href='<%=visits_path%>'>Listar Inspecciones</a>
          </div>
        </li> <!--Fin segundo item de la lista -->
        <li class="nav-item" data-toggle="tooltip" title="Cerrar sesion">
          <span class="nav-link"> <!--Definicion del dropdown-->
            <%= link_to "Salir <i class='fas fa-sign-out-alt'></i>".html_safe, logout_path, method: :delete %>
          </span>
        </li>

      </ul> <!--Fin Lista ordenada -->
    </nav> <!--Fin barra de Navegacion -->

    <%= yield %>
  </body>
</html>
